#default build directory
build

#main.c is now only used as a test code for libraries and has no functionality
main.c

#build stuffs
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
